<section class="types-section">
    <div class="types-top-bar">
        <form class="search-item">
            <input type="text" placeholder="Search..." name="item-search" id="item-search" />
        </form>
        <a href="/types/new">Add new type</a>
    </div>
    <ul class="item-list">
        <% if (items) { for (const item of items) { %>
            <li>
                <p class="item-id"><%= item.id %></p>
                <h3 class="item-title"><%= item.title %></h3>
                <p class="item-description"><%= item.description %></p>

                <div class="item-buttons">
                    <a href="/types/<%= item.slug %>" class="open-button">Open</a>
                    <form method="POST" action="/types/<%= item.slug %>?_method=DELETE">
                        <button type="submit">Delete</button>
                    </form>
                    <a href="/types/<%= item.slug %>/edit" class="edit-button">Edit</a>
                </div>
            </li>
        <% }} %>
    </ul>
</section>
