<section class="new-type-section">
    <h2><%= title %></h2>
    <form method="POST" action="/types/<%= editing ? `${data.slug}?_method=PUT` : "" %>">
        <p>
            <label for="newtitle">Type title:</label>
            <input
                type="text"
                name="newtitle"
                id="newtitle"
                required
                minlength="1"
                value="<%= locals.data?.newtitle ?? "" %>"
        </p>
        <p>
            <label for="newdescription">Type description:</label>
            <textarea
                name="newdescription"
                id="newdescription"
                required
                minlength="1"
                rows=10
            ><%= locals.data?.newdescription ?? "" %></textarea>
        </p>
        <% if (locals.errors) { for (const error of errors) { %>
            <p class="form-error-message"><%= error.msg %></p>
        <% }} %>
        <fieldset class="end-form-buttons">
            <a href="/weapons">Cancel</a>
            <button type="submit"><%= editing ? "Save Type" : "Add Type" %></button>
        </fieldset>
    </form>
</section>
