<section class="weapons-section">
    <div class="weapons-top-bar">
        <form class="search-item weapons-search-bar">
            <input type="text" placeholder="Search..." name="item-search" id="item-search" />

            <select name="category-filter" id="category-filter">
                <option value="" disabled hidden selected>Category</option>
                <option value="">All Categories</option>
                <% if (categories) { for (const category of categories) { %>
                    <option value="<%= category.id %>"><%= category.title %></option>
                <% }} %>
            </select>

            <select name="type-filter" id="type-filter">
                <option value="" disabled hidden selected>Type</option>
                <option value="">All Types</option>
                <% if (types) { for (const type of types) { %>
                    <option value="<%= type.id %>"><%= type.title %></option>
                <% }} %>
            </select>

        </form>
        <a href="/weapons/new">Add new weapon</a>
    </div>
    <ul class="item-list">
        <% if (items) { for (const item of items) { %>
            <li
                data-category-id="<%= item.category_id %>"
                data-type-id="<%= item.type_id %>"
            >
                <p class="item-id"><%= item.id %></p>
                <h3 class="item-title"><%= item.name %></h3>
                <p class="item-description"><%= item.description %></p>

                <div class="item-buttons">
                    <a href="/weapons/<%= item.slug %>" class="open-button">Open</a>
                    <form method="POST" action="/weapons/<%= item.slug %>?_method=DELETE">
                        <button type="submit">Delete</button>
                    </form>
                    <a href="/weapons/<%= item.slug %>/edit" class="edit-button">Edit</a>
                </div>
            </li>
        <% }} %>
    </ul>
</section>
