<section class="weapon-show">
    <h2><%= weapon.name %> Weapon Details</h2>
    <p><%= weapon.description %></p>
    <p>Category: <%= category.title %></p>
    <p>Type: <%= type.title %></p>

    <div class="item-buttons">
        <a href="/weapons" class="open-button">Return</a>
        <form method="POST" action="/weapons/<%= weapon.slug %>?_method=DELETE">
            <button type="submit">Delete</button>
        </form>
        <a href="/weapons/<%= weapon.slug %>/edit" class="edit-button">Edit</a>
    </div>
</section>
